body {
    background: #a8d8d8;
}

header .container .row .logo-banner {
    background: #c04b82;
    width: 100%;
    padding: 1.25rem;
    margin-top: 1.25rem;
}

header .container .row .logo-banner .logo-rectangle {
    background: #ffffff;
    width: 25%;
    height: 85px;
}

header .container .row nav {
    width: 100%;
    background: #f2a03d !important;
    margin-top: 1.25rem;
}

header .container .row nav li.nav-item {
    position: relative;
}

/* No JS Product */
header .container .row nav li.nav-item:hover ul.dropdown-nojs{
	display: block;
}

header .container .row nav li.nav-item ul.dropdown-nojs {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

header .container .row nav li.nav-item ul.dropdown-nojs li {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

main {
    margin-bottom: 1.25rem;
}

main .container .row aside {
    background: #f33827;
    height: 75vh;
    margin-top: 1.25rem;
    color: #ffffff;
    text-align: center;
    padding: 1.25rem;
}

main .container .row section {
    height: 75vh;
}

main .container .row section .row {
    height: 52%;
    padding: 1.25rem 0 0 0;
}

main .container .row section .row .col{
    height: 100%;
    background: #f38c8d;
    margin: 0 0 0 1.25rem;
}